<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>World of Warcraft</title>
</head>

<body bgcolor="#C8C8C8">

    <h1 align="center" bgcolor><u>World of Warcraft tribute page</u></h1>
    <p align="center">World of Warcraft (abreviado como WoW, literalmente en español Mundo de Warcraft) es un videojuego
        derolmultijugador masivo en línea desarrollado por Blizzard Entertainment. Es el cuarto juego lanzado
        establecido en el universo fantástico de Warcraft, el cual fue introducido por primera vez por Warcraft: Orcs &
        Humans en 1994. World of Warcraft transcurre dentro del mundo de Azeroth, cuatro años después de los sucesos
        finales de la anterior entrega de Warcraft, Warcraft III: The Frozen Throne.​ Blizzard Entertainment anunció
        World of Warcraft el 2 de septiembre de 2001. </p>

    <h2 align="center">Versiones de World of Warcraft:</h2>

    <h3>1. World of Warcraft: The Burning Crusade</h3>
    <p>El Señor de fatalidad Kazzak volvió a abrir El Portal Oscuro a Terrallende, lo que provocó que Azeroth se viese
        inundada por los feroces demonios de la Legión Ardiente. Varias expediciones de la Horda y la Alianza,
        reforzadas por sus nuevos aliados, los elfos de sangre y los draenei, atravesaron la entrada para detener la
        invasión en su punto de origen. En la reseca Península del Fuego Infernal la Alianza descubrió a varios de sus
        héroes que habían cruzado el portal muchos años atrás, mientras que la Horda estableció contacto con los
        Mag'har, orcos "incorruptos" que no habían formado parte de la primera invasión de su raza en Azeroth. La
        expedición en Terrallende arrastró a los ejércitos de la Horda y la Alianza a un conflicto mayor con los agentes
        de la Legión y los lugartenientes de Illidan Tempestira, quien había reclamado el destrozado mundo para sí
        mismo. </p>

    <div align="center"><img src="https://bnetcmsus-a.akamaihd.net/cms/gallery/WBDGWD24SXKH1498551111926.jpg"
            width="180" height=250></div>

    <div align="center"><a href="https://worldofwarcraft.com/es-es/story/timeline/chapter-11"> Pagina oficial de World
            of Warcraft: The Burning Crusade </a></div>

    <h3>2. World of Warcraft: Wrath of the Lich King</h3>
    <p>World of Warcraft: Wrath of the Lich King es la segunda expansión del MMORPG World of Warcraft, después de The
        Burning Crusade. Amplía el contenido del mundo de Warcraft de manera sustancial, incluyendo entre otras cosas,
        el continente Rasganorte, hogar del Rey Exánime. Fue anunciado en el primer día del BlizzCon 2007, el 3 de
        agosto de 2007. Wrath of the Lich King fue lanzado el 13 de noviembre de 2008, vendiendo 2.8 millones de copias
        dentro de las primeras 24 horas de disponibilidad. Esto lo hace el juego de computadora más rápidamente vendido
        de todos los tiempos, superando al impuesto por la anterior expansión The Burning Crusade que vendió 2.4
        millones en sus primeras 24 horas</p>

    <div align="center"><img src="https://bnetcmsus-a.akamaihd.net/cms/gallery/GCA6YAX0EMQW1498551121622.jpg"
            width="180" height=250></div>

    <div align="center"><a href="https://worldofwarcraft.com/es-es/story/timeline/chapter-15"> Pagina oficial de World
            of Warcraft: Wrath of the Lich King </a></div>


    <h3>3. World of Warcraft: Cataclysm</h3>
    <p>World of Warcraft: Cataclysm (en español World of Warcraft: Cataclismo) es la tercera expansión para el
        videojuego de rol multijugador masivo en línea World of Warcraft, sucesor de World of Warcraft: Wrath of the
        Lich King. Se anunció oficialmente en la BlizzCon el 21 de agosto de 2009, aunque desarrolladores e
        investigadores descubrieron los detalles antes de que fuera anunciado oficialmente por Blizzard Entertainment.
        Fue publicado oficialmente el 7 de diciembre de 2010.</p>

    <div align="center"><img src="https://bnetcmsus-a.akamaihd.net/cms/gallery/J7EMJOOPF02H1498551113241.jpg"
            width="180" height=250></div>

    <div align="center"><a href="https://worldofwarcraft.com/es-es/story/timeline/chapter-19"> Pagina oficial de World
            of Warcraft: Cataclysm</a></div>


    <h3>4. World of Warcraft: Mists of Pandaria</h3>
    <p>World of Warcraft: Nieblas de Pandaria​ es la cuarta expansión del videojuego World of Warcraft. Fue anunciada
        el 21 de octubre de 2011 por Chris Metzen en la BlizzCon de 2011 y publicada el 25 de septiembre de 2012.La
        cuarta expansión de World of Warcraft lleva a los jugadores a un continente nuevo, poblada por la misteriosa
        raza de los Pandaren, presentados por primera vez en Warcraft III. Aparte de un continente nuevo que explorar,
        podremos crear personajes de la raza Pandaren y hay una nueva clase en el juego, la clase Monje, aparte de
        numerosos cambios en el sistema de habilidades.</p>


    <div align="center"><a href="<div align=" center"><img
                src="https://bnetcmsus-a.akamaihd.net/cms/gallery/PDQUPBO2K7HO1498551116359.jpg" width="180" height=250>
    </div>

    <div align="center"><a href="https://worldofwarcraft.com/es-es/story/timeline/chapter-23"> Pagina oficial de World
            of Warcraft: Mists of Pandaria</a></div>

    <h3>5. World of Warcraft: Warlords of Draenor</h3>
    <p>World of Warcraft: Warlords of Draenor es un videojuego de la saga Warcraft. Es la quinta expansión del
        videojuego de World of Warcraft. Está desarrollado y distribuido por Blizzard Entertainment. La expansión
        aumentará el nivel máximo actual de 90 a 100 e introduce un nuevo sistema de "Ciudadelas" con niveles de
        actualización. En sus primeras 24 horas, ya había vendido más de 3.3 millones de copias, llevando la base global
        de suscriptores del juego más allá de la marca de los 10 millones.</p>

    <div align="center"><a href="<div align=" center"><img
                src="https://bnetcmsus-a.akamaihd.net/cms/template_resource/VDFOGZ3WGKJU1472165783290.jpg" width="180"
                height=250></div>

    <div align="center"><a href="https://worldofwarcraft.com/es-es/story/timeline/chapter-28"> Pagina oficial de World
            of Warcraft: Warlords of Draenor</a></div>

    <h3>6. World of Warcraft: Legion </h3>
    <p>World of Warcraft: Legion es la sexta expansión del Juego World of Warcraft. Blizzard Entertainment anunció la
        expansión en la Gamescom 2015 el 6 de agosto de 2015. La expansión fue lanzada el 30 de agosto de 2016. El 6 de
        noviembre de 2015, en la BlizzCon se mostró un tráiler donde Varian Wrynn y Sylvanas Brisaveloz llegaban al
        nuevo continente, Islas Abruptas en las naves de su respectiva facción y donde eran atacados por la Legión
        Ardiente.</p>

    <div align="center"><a href="<div align=" center"><img
                src="https://bnetcmsus-a.akamaihd.net/cms/template_resource/2IWGXVR8EQXF1472165783295.jpg" width="180"
                height=250></div>

    <div align="center"><a href="https://worldofwarcraft.com/es-mx/story/timeline/chapter-30"> Pagina oficial de World
            of Warcraft: Legion</a></div>


    <h3>7. World of Warcraft: Battle for Azeroth</h3>
    <p>World of Warcraft: Battle for Azeroth es una expansión del videojuego multijugador masivo en línea (MMORPG) World
        of Warcraft, siguiendo a los acontecimientos de Legión. Se anunció en la BlizzCon del año 2017 el 3 de
        noviembre de 2017.3​ Estuvo disponible para preordenar desde el 30 de enero de 2018, y se lanzó al mercado el 14
        de agosto del año 2018.4 La expansión elevará el límite de nivel desde 110 a 120, introducirá los continentes de
        Kul Tiras y Zandalar, agregará mazmorras o calabozos e búsquedas o misiones,6​ agregará bandos de guerra (20
        jugadores para el modo PvE contra NPC de facciones opuestas), agregará islas desconocidas e introducirá cuatro
        razas tanto para la Alianza como para la Horda.</p>

    <div align="center"><a href="<div align=" center"><img
                src="https://upload.wikimedia.org/wikipedia/en/0/00/World_of_Warcraft_Battle_for_Azeroth.jpg"
                width="180" height=250></div>

    <div align="center"><a
            href="https://worldofwarcraft.com/es-mx/news/22021369/%C2%A1battle-for-azeroth%E2%84%A2-ya-disponible">
            Pagina oficial de World
            of Warcraft: Battle for Azeroth</a></div>

</body>

</html>